* {
  margin: 0;
  padding: 0;
}

.el-transfer-panel {
  width: 400px!important;
}

.el-transfer-panel__body {
  height: 500px!important;
}

.el-transfer-panel__list.is-filterable {
  height: 500px!important;
}