* {
  margin: 0;
  padding: 0;
}

.el-transfer-panel {
  min-width: 400px!important;
}

.edui-editor.edui-default div:first-child{
  height: auto!important;
}
.edui-default .edui-editor-toolbarbox{
  position: relative!important;
}

/* .el-transfer-panel__body {
  min-height: 500px!important;
}

.el-transfer-panel__list.is-filterable {
  min-height: 500px!important;
} */

